<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/style.css">
    <style>
      
      

        
    </style>
  </head>
  <body>
  <p>Lorem, ipsum dolor sit, dolorem rem adipisci ab coe sapiente, et delectus facere?</p>
  </body>
</html>
