<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/style.css">
    <style>
      
      

        
    </style>
  </head>
  <body>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem quos quo minus, ipsa itaque corrupti magnam quod necessitatibus voluptatum et cupiditate accusamus consequatur eum praesentium. Quae aperiam vitae quod repellat.</p>
 </body>
</html>
